html {
  background-color: #c1e9f0;
}

.bigtxt {
  position: relative;
  width: 100%;
  display: block;
  border-style: solid;
  border-color: #fff;
  border-width: 3px;
  height: 200px;
}

.heart {
  fill: #fff;
  left: 45%;
}

.every {
  font-family: Raleway, sans-serif;
  position: absolute;
  left: 35%;
  top: 5%;
  z-index: 1000;
}

.masterpiece {
  font-family: Satisfy, cursive;
  color: #fff;
  position: absolute;
  right: 37%;
  top: 9%;
}

.write-again {
  font-family: Raleway, sans-serif;
  position: absolute;
  left: 45%;
  top: 35%;
  z-index: 1000;
}

.always-be {
  font-family: Raleway, sans-serif;
  position: absolute;
  left: 32%;
  top: 50%;
  z-index: 1000;
}

.porcelain {
  font-family: Satisfy, cursive;
  color: #fff;
  position: absolute;
  right: 32%;
  top: 55%;
}
