@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  background-color: #C1E9F0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.bigtxt {
  position: relative
  width: 100%;
  display: block;
  border-color: #fff;
}

.heart {
  fill: #fff;
  left: 45%;
}

.every {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
  position: absolute;
  left: 35%;
  top: 14%;
  z-index: 1000;
}

.masterpiece {
  font-family: 'Satisfy', cursive;
  color: #fff;
  font-size: 3em;
  position: absolute;
  right: 37%;
  bottom: -90;
}

.write-again {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
  position: absolute;
  left: 45%;
  top: 22%;
  z-index: 1000;
}

.always-be {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
  position: absolute;
  left: 32%;
  bottom: 66%;
  z-index: 1000;
}

.porcelain {
  font-family: 'Satisfy', cursive;
  color: #fff;
  font-size: 3em;
  position: absolute;
  right: 32%;
  bottom: 59%;
}
